@charset "UTF-8";

/* Modification style base */

body {
    color: white;
}

.enveloppe {
    max-width: 100%;
    margin: 0;
    background-color: #2b2b2b;
}

.grille {
    background-color: transparent;
    border: initial;
}

.grille section {
    border-radius: 0.5rem;
}

/* Grille */


.grille {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10rem, 1fr);
    grid-auto-flow: dense;
    grid-gap: 1rem;
}

.grille section {
    display: grid;
    justify-items: center;
    align-items: center;
}

.white {
    grid-column: 1 / -1;
    grid-row: 3 / span 2;
}

.black {
    grid-column: 2 / span 2;
    grid-row: 7 / span 4;
}

section:nth-child(11) {
    border: 5px solid #e7e1e1;
    grid-column: 3 / -1;
}

@media screen and (max-width: 600px) {

    .grille {
        grid-template-columns: repeat(2, 1fr);
    }

    .black {
        grid-column: 1 / -1;
    }

    section:nth-child(11) {
        grid-column: 1 / -1;
    }
}


