@charset "UTF-8";

/* Modification style base */

body {
    color: white;
}

.enveloppe {
    max-width: 100%;
    margin: 0;
    background-color: #2b2b2b;
}

.grille {
    background-color: transparent;
    border: initial;
}

.grille section {
    border-radius: 0.5rem;
}

/* Grille */

/* 

Exo: 

* Placer les élement sur 4 colonnes
* donner une hauteur minimum aux enfants
* Centre le contenu dans les boîtes
* Prendre 

*/

.grille {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10rem, 1fr);
    grid-gap: 1rem;
}

.grille section {
    display: grid;
    justify-items: center;
    align-items: center;
}



