@charset "UTF-8";
/* navigation */

.menu {
  margin-bottom: 24px;
  overflow: auto;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation a {
  display: block;
  background: #9c9595;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 15px 0;
  border-right: 1px solid black;
  transition: all .7s ease-in-out;
}

.navigation a:hover {
  background: #c4c4c4;
  color: black;
}