/* base */

a {
  color: #2960a8;
}

a:hover {
  color: #7b34ac;
}

/* Mise en page */

.enveloppe {
  padding-bottom: initial;
}

.entete {
  background: #76b876;
  padding-bottom: 1rem;
}

.navigation {
  background: #8cb2d3;
}

.contenu-complet {
  background: #cf7e7e;
}

.contenu {
  background: #b58ab5;
  padding: 2.5rem 3%;
}

.barre-laterale {
  background: #5a9660;
  padding: 1rem 3%;
}

.pied-page {
  background: #e0c4e4;
  padding: 2rem 0;
}

/* Contenus */

.entete p {
  margin-bottom: 0;
}

.contenu-complet h1:first-child {
  margin-top: 0;
}

.barre-laterale .widget:first-child h3 {
  margin-top: 0;
}

.pied-page p {
  margin: 0;
  text-align: center;
}

/* Navigation */

.menu-principal {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.menu-principal li {
  display: inline-block;
  border: 1px solid #8b8b8b;
  margin-right: -0.4rem;
}

.menu-principal a {
  padding: 1rem 2rem;
  display: block;
  text-decoration: none;
  transition: all .4s ease-in-out;
}

.menu-principal a:hover {
  color: white;
  background: rgba(66, 105, 140, 0.42);
}


