/* base */

a {
  color: #2960a8;
}

a:hover {
  color: #7b34ac;
}

/* Mise en page */

.enveloppe {
  padding-bottom: initial;
}

.entete {
  background: #76b876;
}

.navigation {
  background: #8cb2d3;
}

.contenu-complet {
  background: #cf7e7e;
  overflow: auto;
}

.contenu {
  background: #b58ab5;
}

.barre-laterale {
  background: #5a9660;
}

.pied-page {
  background: #e0c4e4;
}

