@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:700');

html {
	font-size: 62.5%; /* base de 10px */
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	background-color: #ccc;
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto Slab', serif;
}

.enveloppe {
	max-width: 900px;
	background-color: #f0f0f0;
	margin: 30px auto;
	padding-bottom: 33px;
	
}

.entete {
	text-align: center;
}

.entete h1 {
	margin: 0 0 5px 0;
	padding-top: 15px;
}

.entete p {
	margin-top: 0;
}

.grille {
	max-width: 95%;
	margin: 0 auto;
	background-color: white;
	border: 1px solid #d9d9d9;
	margin-bottom: 30px;
}

.boite {
	text-align: center;
	background-color: beige;
	border: 1px solid #b69878;
	padding: .2rem 3rem;
	margin-bottom: 10px;
}

.boite:last-child {
	margin-bottom: 0;
}